/* Tab Nav #1 */
.tab-icon-door {
    width: 2.8125rem;
    height: 2.8125rem;
    fill: var(--main-grey);
}

/* Tab Nav #2 */
.tab-icon-devices {
    width: 9.6875rem;
    height: 9.6875rem;
    fill: var(--main-grey);
    list-style: none;
}

/* Tab Nav #3 */
.tab-icon-price {
    width: 4.375rem;
    height: 4.375rem;
    fill: var(--main-grey);
}

/* Tabs */
.tabs {
    padding-top: 1rem;
}
.tab-nav-container {
    list-style: none;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    color: var(--main-grey);
    margin: 0 12%;
}

/* Tabs NAv Hover Effect */
ul li:hover {
    color: white;
    cursor: pointer;
}

ul li:hover svg path {
    fill: white;
}

/* Active Tab */
.active {
    border-bottom: 4px solid var(--main-red);
}

.tab-selected {
    color: white;
}

.tab-selected svg path {
    fill: white;
}

/* Querys */

@media only screen and (max-width: 1100px) {
    .tab-nav-container {
        margin: 0;
    }
}

@media only screen and (max-width: 770px) {
    .tab-icon-door {
        width: 2.25rem;
        height: 2.25rem;
    }
    /* Tab Nav #2 */
    .tab-icon-devices {
        width: 7.75rem;
        height: 7.75rem;
    }

    /* Tab Nav #3 */
    .tab-icon-price {
        width: 3.5rem;
        height: 3.5rem;
    }
}

@media only screen and (max-width: 520px) {
    .tab-nav-container {
        grid-template-columns: 1fr;
    }
}
